%p
  %b Language
  = @level.language.name

%h1 Editing level

= render :partial => 'form', :locals => { :path => ['admin', @level] }

= link_to 'Show', ['admin', @level]
\|
= link_to 'Back', ['admin', @level.language]
