#challenge
  text-align: center

#tests
  margin-bottom: 4px
  margin-top: 80px
  .test
    .english
      font-size: 30px
      line-height: 30px
#input
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  border: 2px solid #000
  font-size: 30px
  padding: 6px
  width: 300px

#success input
  background: green
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  border: 3px solid black
  color: white
  cursor: pointer
  font-size: 60px
  font-weight: bold
  margin-top: 30px
  padding: 6px 60px
