body {
  background: #92defe;
  margin: 0; }

#background {
  background: url(/images/landing-bg.png) left bottom;
  bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1; }

#content {
  color: black;
  font-family: monospace;
  margin: 0 auto;
  width: 960px; }
  #content .container .left {
    float: left;
    margin: 0 10px;
    width: 460px; }
  #content .container .right {
    float: right;
    margin: 0 10px;
    width: 460px; }

#header {
  margin-top: 20px; }

#logo {
  font-size: 94px;
  font-weight: bold;
  line-height: 94px; }

#signin {
  background: url(/images/landing-signin-button.png) no-repeat;
  color: white;
  display: block;
  font-size: 30px;
  font-weight: bold;
  float: right;
  line-height: 30px;
  margin-top: 17px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  width: 197px; }

#tagline {
  font-size: 16px;
  padding-top: 110px;
  text-align: center; }

#main {
  padding-top: 100px; }

#newgame {
  background: url(/images/landing-newgame-button.png) no-repeat;
  color: white;
  display: block;
  font-size: 46px;
  font-weight: bold;
  line-height: 46px;
  margin: 0 auto;
  padding: 19px 0;
  text-align: center;
  text-decoration: none;
  width: 406px; }

#alert {
  color: red; }

#notice {
  color: green; }
