html, body {
  height: 100%; }

body {
  background: url(/images/bg.png) repeat-x #f4fcff;
  margin: 0; }

#container {
  min-height: 100%;
  position: relative; }

#header {
  background: url(/images/header-bg.png) repeat-x;
  height: 50px; }
  #header h1 {
    color: white;
    margin: 0;
    padding: 10px; }
  #header .links {
    float: right;
    padding: 10px; }
    #header .links a {
      color: white;
      margin-left: 8px; }

#content {
  margin: 0 auto;
  min-height: 320px;
  padding-bottom: 250px;
  width: 960px; }

#footer {
  background: url(/images/footer-bg.png) repeat-x;
  bottom: 0px;
  position: absolute;
  height: 242px;
  width: 100%; }
